{% extends 'base.html' %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col mt-3">
      <h1>Add your recipe</h1>
      <br/><br/>
      {% if submitted %}
        You have succesfully submitted your recipe!!! Waiting for site approval.

      {% else %}
      
        <form action="" method="POST">
          {% csrf_token %}
          {{add_recipe | crispy}}
          <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

      {% endif %}
    </div>
  </div>
</div>
  


{% endblock %}