{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>Edit current recipe:</h3>
        <p>Only the admin can edit recipes</p>
        <div class="form-group">
            <form method="POST" style="margin-top: 1em;" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-signup btn-lg" style="margin: 5px; margin-left: 0;">Update</button>
            </form>
        </div>
    </div>
</div>

{%endblock%}